<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Corentin Borges">

    <title>Corentin Borges</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    {#  load fonts  #}
    <link href="../public/css/fonts/fonts.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="../public/css/clean-blog.css" rel="stylesheet">

</head>

<body>

<div id="top"></div>
<button  class="arrow-link" id="top-btn"><i class="fas d-none d-md-block fa-angle-double-up"></i></button>

<!--Page Nav-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container" >
        <img id='nav-pic' src='../public/pictures/profil.png' alt='Corentin borges'/>
        <a class="navbar-brand " href="../public/">Corentin Borges</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=adminHome">Acceuil admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=adminPosts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=noValidComments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=users">Utilisateurs</a>
                </li>
                <div class="nav-devider-connect d-none d-lg-block mt-1"></div>
                <li class="nav-item">
                    <a class="nav-link" href="../public/">Revenir au site</a>
                    <a class="nav-link" id='disconnect' href="../public/index.php?route=disconnect">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
{% if block("jumbotron") is defined %}
    {{ block ('jumbotron')}}
{% else %}
    <div class='mt-5 pt-5'></div>
{% endif %}


{{ block ('content')}}

<div class="mt-5"></div>


<!-- Bootstrap core JavaScript -->
<script src="../public/js/jquery3.5.1.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/all.min.js"></script>
<script src="../public/js/clean-blog.js"></script>
<div id="theTop"></div>
</body>

</html>