{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container '>
        <div class="error alert alert-danger" role='alert'>
            <p><h4> Erreur 500:</h4> Aïe, désolé! <br/> Nous rencontrons actuellement une erreur côté serveur<p>
        </div>
    </div>
{% endblock %}