<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Corentin Borges">

    <title>Corentin Borges</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    {#  load fonts  #}
    <link href="../public/css/fonts/fonts.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="../public/css/clean-blog.css" rel="stylesheet">

</head>
<body>
<div id="top"></div>
<button  class="arrow-link" id="top-btn"><i class="fas d-none d-md-block fa-angle-double-up"></i></button>
<!--Page Nav-->
{% if session.get('pseudo') %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <img id='nav-pic' src='../public/pictures/profil.png' alt='Corentin borges'/>
        <a class="navbar-brand " href="../public/">Corentin Borges</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=posts">Posts</a>
                </li>
                <span class="nav-devider-connect d-none d-lg-block mt-1"></span>
                <li class="nav-item ">
                    <span id='pseudo-nav' class='d-none d-lg-block ml-3'>{{session.get('pseudo')}}</span>
                    <a class="nav-link" id='disconnect' href="../public/index.php?route=disconnect">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <img id='nav-pic' src='../public/pictures/profil.png' alt='Corentin borges'/>
        <a class="navbar-brand " href="../public/">Corentin Borges</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../public/">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=posts">Posts</a>
                </li>
                <div class="nav-devider mt-1"></div>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=signIn">s'enregistrer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
<!-- Page Header -->
{% if block("jumbotron") is defined %}
{{ block ('jumbotron')}}
{% else %}
<div class='mt-5 pt-5'></div>
{% endif %}


{{ block ('content')}}

<div class='CGU CGU-container'>
    <object type="application/pdf" id='CV' data="../public/docs/CGU.pdf" ></object>
</div>
<hr class="mt-5">
<footer>
    <div class="container">
        <div class="row">
            <ul class="col-lg-4 plan d-none d-lg-block col-md-3 ">
                <p>Plan du site:</p>
                <li class="nav-item">
                    <a class="nav-link" href="../public/">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?route=posts">Posts</a>
                </li>
                <button class="nav-link CGU-btn">Conditions générales d'utilisation</button>
            </ul>
            <div class="col-lg-4 col-12 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="mailto:cb.corentinborges@gmail.com" target='_blanck'>
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/corentin-borges/" target='_blanck'>
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/CorentinBorges" target='_blanck'>
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Corentin Borges</p>
            </div>
            <ul class="plan d-lg-none text-center mt-3 d-block col-lg-3 ">
                <p>Plan du site:</p>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="../public/">Acceuil</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="../public/index.php?route=posts">Posts</a>
                </li>
                <button class="nav-link CGU-btn">Conditions générales d'utilisation </button>
            </ul>
            <div class='col-lg-3 mx-auto text-center mt-5'>
                {% if session.get('admin') %}
                <a href="../public/index.php?route=adminHome" class='config-link'>Configurer le site</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<script src="../public/js/jquery3.5.1.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/all.min.js"></script>
<script src="../public/js/clean-blog.js"></script>

</body>

</html>