{% extends 'layout.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">
            <p>{{error}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="col-lg-6 pl-sm-5 col-md-10 mx-auto">
        <h2 class="text-center">Connexion</h2>
        <form name="connexion" id="contactForm" method='post' action="/projet_5/public/index.php?route=login">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Nom d'utilisateur</label>
                    <input type="text" class="form-control" {% if alias %} value='{{alias}}' {% endif %} name='pseudo' placeholder="Nom d'utilisateur" id="pseudo" required data-validation-required-message="veuillez entrer un nom d'utilisateur">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control" name='pass' {% if pass is defined %} value='{{pass}}' {% endif %} placeholder="Mot de passe" id="pass" required data-validation-required-message="Veuillez indiquer un mot de passe">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="form-check mt-4">
                <input type="checkbox" {{checked}} class="form-check-input mt-2"  name='cookie'  value='checked' id="cookie" >
                <label for='cookie'  class="ml-2 form-check-label">Rester connecter</label>
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group col-5 mt-4 text-center col-md-12 mx-auto" >
                <button type="submit" value="submit" name='submit' class="btn btn-primary" id="sendMessageButton">Envoyer</button>
            </div>
        </form>
    </div>


{% endblock %}