{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container '>
        <div class="error alert alert-danger" role='alert'>
            <h4>Erreur Connexion</h4>
            <p>Vous devez être connecté en tant qu'dministrateur pour accéder à cette page<p>
        </div>
    </div>
{% endblock %}