{% extends 'layout.html.twig' %}

{% block content %}

    <div class="alert alert-success alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">
        <p>Votre demande d'inscription à bien été enregistrée, nous vous contacterons par mail dès que celle-ci aura été validée.</p>
    </div>
    <div class="text-center col-12">
        <a href='/projet_5/public/index.php' ><b><u>Retour à l'accueil</b></a>
    </div>
{% endblock %}