{% extends 'layout.html.twig' %}

{% block content %}

    <div class="alert alert-success alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">
        <p>Votre demande d'inscription à bien été enregistrée, elle est en cours de validation.</p>
    </div>
    <div class="text-center col-12">
        <a href='/projet_5/public/index.php' class="font-weight-bold">Retour à l'accueil</a>
    </div>
{% endblock %}